/***** Fallback message *****/
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}
/***** Plugins ******/
.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}
body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}
body.impress-mouse-timeout {
    cursor: none;
}

/* Help popup plugin */
.impress-enabled #impress-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 80%;
    position: fixed;
    left: 2em;
    bottom: 2em;
    width: 24em;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    z-index: 100;
    font-family: Verdana, Arial, Sans;
}
.impress-enabled #impress-help td {
    padding-left: 1em;
    padding-right: 1em;
}

/*
   Disable mouse clicks / focus for body
*/
.impress-enabled                          { pointer-events: none }
.impress-enabled #impress                 { pointer-events: auto }
.impress-enabled #impress-toolbar         { pointer-events: auto }
.impress-enabled #impress-console-button  { pointer-events: auto }


.step {
    width: 1000px;
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 1s;
    backface-visibility: hidden;
}
.center-content {
    flex-direction: column;
    align-items: center;
}
.top-align {
    justify-content: start;
}
